body {
  font-family: 'Coustard';
  letter-spacing: 2px;
  background-color: #b3b3b3;
  color: yellow;
  display: flex;
  margin: auto;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  min-width: 950px;
}

.game {
  background-color: #3F51B5;
  height: 600px;
  width: 900px;
  margin: auto;
  box-shadow: 0px 0px 8px 2px;
}

.title {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: yellow;
}
